##
## ƒанный файл может располагатьс€ в директории любого виртуального хоста.
## Ћюбую из директив можно не указывать, тогда беретс€ значение по умолчанию.
## Ќе пропустите ведущий символ "#" перед директивами!!!
##
## ≈сли вы хотите настроить Apache так, чтобы хост был виден из локальной
## сети, см. статью http ://www.denwer.ru/faq/shared.html
## 

# dnwr_ip   127.0.0.2
# dnwr_host custom-host
# dnwr_port 8648

##
## ¬се dnwr-директивы "разворачиваютс€" в шаблоне виртуального хоста (httpd.conf).
## Ѕиблиотеки ƒенвера напр€мую (мину€ подстановку в шаблоне) их не используют.
## ¬ы можете добавить сюда и другие директивы, ссыла€сь на них в шаблоне хоста.
##
