<!--
Верхний шаблон.

Особенности:
	[script_path] — автоматически заменяется на путь к скрипту;
	[search]      — вставка «результаты поиска по...»;
	[type]        — вставка тип передаваемых данных (HTML или XHTML).

P.S. При выводе шаблона этот комментарий будет удалён.
-->

<?xml version="1.0" encoding="windows-1251"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru" lang="ru">
<head>
<title>DNSearch[search]</title>
<link rel="stylesheet" type="text/css" title="" href="[script_path]?action=css" media="all" />
</head>
<body>