<!--
Шаблон, по которому выводится каждый результат.

Особенности:
	[script_path] — автоматически заменяется на путь к скрипту.

P.S. При выводе шаблона этот комментарий будет удалён.
-->

<h4>Как искать</h4>

<p>Программа предоставляет два вида поиска: <i>обычный</i>, к которому все привыкли (я надеюсь), и <i>поиск в режиме
регулярных выражений</i> (Perl-совместимых). Не пугайтесь, сейчас мы рассмотрим каждый из них и поучимся на примерах.</p>

<h4>Обычный поиск</h4>

<p>Этот вид поиска выставлен по умолчанию (значение опции «Режим» = «Обычный») и является очень простым для освоения.
Достаточно ввести фразу для поиска и нажать «Искать». При этом процессом поиска можно управлять с помощью специальных
опций:
	<ul>
		<li type="disc">
			Опция «Путь» предоставляет выбор пути для поиска. Другими словами Вы можете явно указать, где бы Вы
			хотели искать вашу фразу. Как правило, существует ограниченное количество путей для поиска. Их
			устанавливает администратор ресурса. Вы лишь можете выбирать среди того, что было предоставлено
			администратором.
		</li><li type="disc">
			Опция «Логика» указывает, как программе следует рассматривать введённую Вами фразу. Если Вы укажите «И»,
			программа будет пытаться найти <i>все</i> слова из вашей фразы. Если же указать «Или», программа
			постарается найти <i>хотя бы одно слово</i> из введённой фразы. Если же выбрать «Фраза», программа вовсе
			не будет рассматривать вашу фразу как набор слов, а вместо этого будет искать <i>точное совпадение</i> в
			тексте с этой фразой.
		</li><li type="disc">	
			Опция «Регистр» указывает программе, делать ли различия между <i>СТРОЧНЫМИ</i> (заглавными) и
			<i>прописными</i> (малыми) буквами или нет.
		</li>
	</ul>
</p>

<p>Как Вы видите, такой вид поиска может обеспечить большинство поисковых запросов, однако иногда требуется составить более
сложный запрос. Для этих целей существует второй вид поиска.</p>

<h4>Режим регулярных выражений</h4>

<p>На самом деле изучение механизмов регулярных выражений может занять продолжительное время и вряд ли обычный пользователь
возьмётся за изучение этого вопроса. Но ведь нам не обязательно знать всех тонкостей этих самых регулярных выражений для
составлений расширенных поисковых запросов. Достаточно знать основные «команды» и можно создавать очень мощные поисковые
запросы.</p>

<p>Начнём с небольшого примера. Предположим, нам необходимо найти слово «фильм». Если мы воспользуемся первым режимом,
то программа найдёт все совпадения, где есть слово «<i>фильм</i>», а так же где есть слово «<i>фильм</i>ы» (то есть во
множественном числе). И даже такое слово как «кино<i>фильм</i>» даст совпадение. Но нам, допустим, надо найти документы,
где есть именно слово «фильм». Для этого первый режим поиска нам не подойдёт.</p>

<p>Вспомним, как бы мы поступили, если у нас стояла такая же задача, но искали мы, например, в
<a href="http://google.com">Гугле</a>? Правильно, мы бы ввели следующий запрос: «"фильм"». Кавычки ("") указывают программе,
что нам необходимо только слово «фильм» и ничего больше.</p>

<p>Вернёмся к нашей программе. В данном случае всё практически так же: нам надо указать <i>границы</i>. В Perl-совместимых
регулярных выражениях два символа «\b» являются указателем границы слова. То есть нам просто нужно вместо каждой кавычки
поставить эти два символа — «\bфильм\b» и мы добьёмся нужного результата.</p>

<p>Попробуйте поэкспериментировать с вышеприведённым материалом и двинемся дальше. Только не забудьте указывать в опции
«Режим», значение «RegEx». Итак, как Вы могли заметить, нам достаточно знать определённый набор символов-команд, с помощью
которых можно указывать программе более тонкие параметры для поиска. Сейчас я перечислю основные символы (программисты их
называют <i>метасимволы</i>), которые Вам могут пригодиться.</p>

<br />

<table cellpadding="5" cellspacing="0" align="center" class="solid">
	<tr>
		<td width="10%">...<b>|</b>...</td>
		<td width="90%">Чередование (соответствие одному или другому)</td>
	</tr><tr>
		<td><b>(</b>...<b>)</b></td>
		<td>Группировка (рассматривать воедино)</td>
	</tr><tr>
		<td><b>[</b>...<b>]</b></td>
		<td>Класс символов (соответствие одному символу из набора)</td>
	</tr><tr>
		<td><b>.</b></td>
		<td>Соответствие одному любому символу</td>
	</tr>
</table>

<br />

<p><b>Продолжение следует...</b></p>